<div>
  <%= t('.share_with_friends' ) %>
</div>

<%# Facebook, Tweeter and LinkedIn by Sharethis.com %>
<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_linkedin_large' displayText='LinkedIn'></span>
<span class='st_googleplus_large' displayText='Google +'></span>

<div>
  <%= t('.footer_note', :year => Time.now.year,
                        :site_name => Refinery::Core.site_name) %>
</div>
