
<nav class="tab-bar">
  <section class="left-small">
    <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">Raul Ferrandez Salvador</h1>
  </section>

  <section class="right-small">
    <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
  </section>
</nav>

<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
  </ul>
</aside>

<aside class="right-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><%= link_to t('englishUK' ), {:locale => "en" } %></li>
    <li><%= link_to t('spanish' ), {:locale => "es" } %></li>
  </ul>
</aside>

<section class="main-section">
  <!-- content goes here -->
</section>

<a class="exit-off-canvas"></a>


