
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">

    <li class="name"><!-- In case you want to show some tittle. Here i leave this empty --></li>

    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <!-- This line is needed to show the menu properly on mobile -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <!-- In case I would like more items in my top-bar -->
      <!-- <li class="active"><a href="#">Right Button Active</a></li>  -->
      <li class="has-dropdown">
        <a href="#"><%= t('language' ) %></a>
        <ul class="dropdown">
          <li><%= link_to t('englishUK' ), {:locale => "en" } %></li>
          <li><%= link_to t('spanish' ), {:locale => "es" } %></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
    </ul>
    
  </section>

</nav>



