body {
  font-family: Arial, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 16px;
  margin: 0;
}

a {
  color: #3420D3;
}

#side_body {
  margin: 25px 100px;
  float: right;
  div {
    float:left;
  }
  width: 250px;
  p {
    color: #777;
    font-size: 14px;
  }
}

table,th,td
{
  //border-collapse:collapse;
  padding: 2px;
}

th {
  border-bottom: 2px solid black;
}

td {
  color: #585858;
  vertical-align: top;
  padding-top: 10px;
  border-bottom: 1px solid black;
}

// Remove border-bottom in last table row of td
tr:last-child {
  td { border-bottom: none }
}

.responsabilities {
  // top 25px, right 50px, bottom 75px, left 100px
  margin: 0px 10px 10px 10px;
  padding: 0;
}