body {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 16px;
  margin: 0;
}

h1, h2, h3 {
  margin-top: 0;
}

a {
  color: #3420D3;
}

#body_content_title {
  display: none;
}

#body_content {
  #body {
    margin: 25px 100px;
    float: left;
  }
  .image-align-left {
    margin-right: 40px;
  }

}

#side_body {
  margin: 25px 100px;
  float: right;
  div {
    float:left;
  }
  width: 250px;
  p {
    color: #777;
    font-size: 14px;
  }
}

table,th,td
{
  border:1px solid black;
  border-collapse:collapse;
}