body {
  //font-family: Arial, Georgia, Cambria, "Times New Roman", Times, serif;
  //font-size: 16px;
  //margin: 0;
}

#side_body {
  margin: 25px 100px;
  float: right;
  div {
    float:left;
  }
  width: 250px;
  p {
    color: #777;
    font-size: 14px;
  }
}