#body_content_title {
  display: none; // Do not display title in pages
}

#body_content {
  #body {
    margin: 25px 25px;
    float: left; // Side body to be placed side by side instead of below.
  }
}